doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Anonymous Club
      .tool-bar
        if user
          a(href="/auth/logout") Log out
          a(href="") New Message
          p #{user.firstname}
          if !user.membership
            a(href="") Member
          if !user.admin
            a(href="") Admin
        else
          a(href="/auth/login") Log in
          a(href="/auth/register") Register
    main
      block content
