extends layout

block content
    form(method="POST")
        .form-element
            label(for="email") Email
            input(type="email" id="email" name="email" required value= email===undefined ? '' : email)
        .form-element
            label(for="password") Password
            input(type="password" id="password" name="password" required)
        p 
            | New user? 
            a(href="/auth/register") register here 
        button(type="submit") Login
        ul.form-errors-list
            if errors
                each error in errors
                    li #{error.msg}
