extends layout

block content
    form(method="POST")
        .form_element
            label(for="email") Email
            input(type="email" id="email" name="email" required value= email===undefined ? '' : email)
        .form_element
            label(for="password") Password
            input(type="password" id="password" name="password" required)
        button(type="submit") Login
        ul
            if errors
                each error in errors
                    li #{error.msg}
