extends layout

block content
    section.exlusive-access-form
        p(class="password=member") To become a member, you must enter the correct member password. 
            | Members have the ability to see the authors of messages and the date messages are posted.
            | pretty cool huh?
            | Try to find the hint!
        form(method="POST")
            .form_element
                label(for="password") Password
                input(type="password" id="password" name="password" required)
            button(type="submit") Submit
            ul
                if errors
                    each error in errors
                        li #{error.msg}
