extends layout

block content
    form(method="POST")
        .form_element
            label(for="title") Title:
            input(type="text" id="title" name="title" required value= message===undefined ? '' : message.title)
        .form_element
            label(for="message-body") Message:
            textarea(id="message-body" name="message_body" rows="5" cols="20" required placeholder="Your message...")
                =message==undefined ? "" : message.text

        button(type="submit") Create Message
        ul
            if errors
                each error in errors
                    li #{error.msg}
