* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   --color1: #464655;
   --color2: #eddfef;
   --color3: #2e2e38;
   --border-radius: 0.2rem;
}

body {
   font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
   background-color: var(--color1);
   color: var(--color2);
}

a {
   color: #00b7ff;
}

h1 a {
   text-decoration: none;
   color: var(--color2);
}

header {
   display: flex;
   justify-content: space-between;
   padding: 2rem;
   align-items: center;
}

.tool-bar {
   display: flex;
   gap: 1rem;
   align-items: center;
}

.tool-bar a {
   color: var(--color2);
   text-decoration: none;
   border-bottom: 2px solid var(--color2);
   padding: 0.2rem;
}

.tool-bar a:hover {
   transform: scale(1.1);
}

main {
   margin: 2rem;
   display: flex;
   flex-direction: column;
   gap: 2rem;
}

.message-board-headers {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 2rem;
}
.welcome-user {
   font-size: 2rem;
}

.messages-container {
   display: flex;
   flex-direction: column;
   gap: 2rem;
   align-items: center;
}

.message-container {
   display: flex;
   flex-direction: column;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
   background-color: var(--color3);
   padding: 1rem;
   width: 600px;
   min-width: 300px;
   gap: 1rem;
}

form {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   width: 500px;
}

.form-element {
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

form button {
   align-self: flex-start;
   padding: 0.5rem 1rem;
   font-size: 1rem;
   background-color: var(--color3);
   border: none;
   color: #fff;
   border-radius: var(--border-radius);
}

input {
   height: 1.8rem;
   border: none;
   border-radius: var(--border-radius);
   padding: 0 0.5rem;
}

textarea {
   border-radius: var(--border-radius);
   padding: 0.5rem;
}

.form-errors-list {
   color: red;
}

.exlusive-access-form {
   width: 500px;
}

.message-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.delete-message-btn {
   background-color: red;
}

.single-btn-form {
   width: fit-content;
}
